[Unit]
Description=Cashflip Celery Worker
After=network.target redis.service

[Service]
User=cashflip
Group=cashflip
WorkingDirectory=/opt/cashflip/app
Environment="PATH=/opt/cashflip/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
EnvironmentFile=/opt/cashflip/.env
ExecStart=/opt/cashflip/venv/bin/celery -A config worker -l info -c 4 -Q default,game --without-heartbeat
Restart=always
RestartSec=10
StandardOutput=append:/opt/cashflip/logs/celery_worker.log
StandardError=append:/opt/cashflip/logs/celery_worker.log

[Install]
WantedBy=multi-user.target
