[Unit]
Description=Gunicorn instance to serve Cashflip
After=network.target

[Service]
User=cashflip
Group=cashflip
WorkingDirectory=/opt/cashflip/app
Environment="PATH=/opt/cashflip/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
EnvironmentFile=/opt/cashflip/.env
ExecStart=/opt/cashflip/venv/bin/gunicorn --config gunicorn.conf.py config.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
