[Unit]
Description=Cashflip Celery Beat Scheduler
After=network.target redis.service

[Service]
User=cashflip
Group=cashflip
WorkingDirectory=/opt/cashflip/app
Environment="PATH=/opt/cashflip/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
EnvironmentFile=/opt/cashflip/.env
ExecStart=/opt/cashflip/venv/bin/celery -A config beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler
Restart=always
RestartSec=10
StandardOutput=append:/opt/cashflip/logs/celerybeat.log
StandardError=append:/opt/cashflip/logs/celerybeat.log

[Install]
WantedBy=multi-user.target
